body{
    font-family: $raleway;
}

nav{
    a{
        color: $onix;
    }
}

header{
    h1{
        font-weight: $bold;
    }
}

section{
    h2,h3{
        font-weight: $bold;
    }
}

.contenido-prices{
    h2{
        color: $white;
    }
    h5{
        font-weight: bold;
    }
}

footer{
    color: $white;
    a{
        color: $white;
    }
}