footer{
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 576px) {
        grid-template-columns:100%;
       p{
           text-align: center;
       }
    }
    background-color: $raising-black;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vw;
    a{
        text-decoration: none;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    li{
        margin-right: 1vw;
        list-style-type: none;
    }
    p{
        text-align: right;
        @media (max-width: 576px) {
             text-align: center;
           }
        }
    
}