header{
   
    /*background-image: url(../img/bg-hero.svg);
    background-size: contain;
    height: 1000px;
    background-repeat: no-repeat;

    margin-top: 5vw;
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    @media (max-width: 576px) {    
        grid-template-columns: 100%;       
    }

     2 veces comentado /*object{
        @media (min-width: 576px){
        display: none;
    }
    }  */ 
    
    @media (min-width: 576px){
    background-image: url(../img/bg-hero.svg);
    background-size: contain;
    height: 60vw;
    background-repeat: no-repeat;

    margin-top: 5vw;
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    object{
        display: none;
    }
    }
    grid-template-columns: 100%;   
    margin-top: 5vw;    

    
    
    }  


.hero-section{  
    margin-left: 10vw;
    margin-right: 10vw;
}