.prices{
    background-image: url(../img/bg-price.svg);
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    padding-top: 15vw;
    @media (min-width: 576px) { 

    }

}
/*.contenido-prices{
    margin: ;
}
*/
.contenedor-card{
    

    
    
    @media (min-width: 576px) { 
        display: flex;
        justify-content: center;
    }

    .card-2{
        margin-right: 4vw;
    }
}

.boton-bajo{
    margin-top: 110px;
}
/*.card{


display: grid;
    grid-template-columns: 10vw repeat(2,1fr) 10vw;
    grid-column-gap: 5vw;
    .card-2{
        grid-column-start: 2;
        grid-column-end: 3;
    }   align-items: center;
    justify-items: center;
    @media (max-width: 576px) {   
        margin-left: 5vw; 
        margin-right: 5vw;
        grid-template-columns:100%;
        card-2{
            grid-column-start: 1;
            margin-bottom: 7vw;
        }
    }
}*/