section{
    h2{
        text-align: center;
        margin-bottom: 5vw;
    }
    padding-bottom: 10vw;
    
}

.contenido{

    display: grid;
    grid-template-columns: 10vw repeat(2,1fr) 10vw;
    grid-column-gap: 5vw;
    object{
        grid-column-start: 2;
        grid-column-end: 3;
    }   align-items: center;
    justify-items: center;
    @media (max-width: 576px) {   
        margin-left: 5vw;
        margin-right: 5vw;
        grid-template-columns:100%;
        object{
            grid-column-start: 1;
            margin-bottom: 7vw;
        }
    }
    /*display: flex;
    
 
    margin-left: 10vw;
    margin-right: 10vw;*/
}